<script type="module" src="/js/homepage.js"></script>

<div class="hero-background">
  <section class="hero">
    <header class="header">
      <menu class="nav">
        <ul class="nav__ul">
          <li class="nav__li"><a class="nav__link" href="/login">Login</a></li>
          <li class="nav__li"><a class="nav__link" href="/documentation" target="_blank">APIs</a></li>
        </ul>
      </menu>
    </header>
    <h1 class="hero__brand">Recreo Spot</h1>
    <div class="icon-arrow-down"></div>
  </section>
  <section class="about">
    <h2 class="about__title">About us</h2>
    <article class="about__article">
      <p class="about__text">
        Ornare sollicitudin lacus eget non etiam purus vel. Libero sed et egestas vitae vulputate nunc purus. Dui volutpat pulvinar venenatis aliquam. Amet egestas lorem ac tempus.
        Fermentum at leo vitae risus quisque. Fusce vulputate adipiscing id massa. Lectus eget dui blandit mauris scelerisque tincidunt venenatis. Cursus commodo in ornare
        fringilla. Ultricies sit elit senectus scelerisque. Quis id purus consectetur nulla non lobortis. Nunc elit sed in eget fermentum. Sodales ac pretium praesent dui. Varius
        proin morbi netus gravida viverra felis fusce. Ullamcorper maecenas in tempor tristique quis amet. Massa hac nec aliquam aliquet maecenas facilisis aliquam suspendisse.
      </p>
      <img src="/images/img-1.png" alt="img-1" class="about__img" />
    </article>
    <article class="about__article">
      <img src="/images/img-2.png" alt="img-2" class="about__img" />
      <p class="about__text">
        Ornare sollicitudin lacus eget non etiam purus vel. Libero sed et egestas vitae vulputate nunc purus. Dui volutpat pulvinar venenatis aliquam. Amet egestas lorem ac tempus.
        Fermentum at leo vitae risus quisque. Fusce vulputate adipiscing id massa. Lectus eget dui blandit mauris scelerisque tincidunt venenatis. Cursus commodo in ornare
        fringilla. Ultricies sit elit senectus scelerisque. Amet ut consectetur id suscipit quisque ac amet consequat. Dui ac ornare proin id in purus. Tellus phasellus
        pellentesque sit et sapien iaculis nisl. Tincidunt vel vel vel nibh pellentesque. Purus adipiscing montes venenatis sapien. Quis id purus consectetur nulla non lobortis.
        Nunc elit sed in eget fermentum.
      </p>
    </article>
    <article class="about__article">
      <p class="about__text">
        Ornare sollicitudin lacus eget non etiam purus vel. Libero sed et egestas vitae vulputate nunc purus. Dui volutpat pulvinar venenatis aliquam. Amet egestas lorem ac tempus.
        Fermentum at leo vitae risus quisque. Fusce vulputate adipiscing id massa. Lectus eget dui blandit mauris scelerisque tincidunt venenatis. Cursus commodo in ornare
        fringilla. Ultricies sit elit senectus scelerisque. Amet ut consectetur id suscipit quisque ac amet consequat. Dui ac ornare proin id in purus. Tellus phasellus
        pellentesque sit et sapien iaculis nisl. Tincidunt vel vel vel nibh pellentesque. Purus adipiscing montes venenatis sapien. Quis id purus consectetur nulla non lobortis.
        Nunc elit sed in eget fermentum.
      </p>
      <img src="/images/img-3.png" alt="img-3" class="about__img" />
    </article>
  </section>
</div>
<footer class="footer">
  <p class="footer__copyright">Copyright © 2024. Made with love by Giacomo Cavarretta. All rights reserved.</p>
  <div class="social">
    <p class="social__text">You can find us here!</p>
    <div class="social__icons">
      <a href="#" class="social__link"><div class="social__icon social__icon-1"></div></a>
      <a href="#" class="social__link"><div class="social__icon social__icon-2"></div></a>
      <a href="#" class="social__link"><div class="social__icon social__icon-3"></div></a>
    </div>
  </div>
</footer>
