<script type="module" src="/js/app.js"></script>

<section class="user-view">
  <div class="app" data-user-id="{{ id }}">
    <div class="app__panel" id="favorites">
      <h3>Favorites</h3>
      <div id="favorites-pois"></div>
    </div>
    <div id="userMap"></div>
    <div class="app__panel" id="poiDetails"></div>
  </div>
</section>
