{{>menu}}

<section class="mod-view">
  <h3 class="mod-view__title">Dashboard</h3>
  <div class="dashboard" data-user-id="{{ id }}">
    <div id="modMap"></div>
    <div class="dashboard__panel" id="poiDetails"></div>
  </div>
</section>
