<section class="dashboard" id="dashboard">
  <!-- POIs will be inserted here -->
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/test.js"></script>