{{>menu}}

<script type="module" src="/js/user.js"></script>

<section class="user-view">
  <h3 class="user-view__title">Dashboard</h3>
  <div class="dashboard" data-user-id="{{ id }}">
    <div id="userMap"></div>
    <div class="dashboard__panel" id="poiDetails"></div>
  </div>
</section>
