{{#if errors}}
<script src="/js/errors-ssr.js"></script>
<section class="error active">
  <h3 class="error__title">There was a problem...</h3>
  <ul class="error__ul">
    {{#each errors}}
    <li class="error__li">{{ message }}</li>
    {{/each}}
  </ul>
</section>
{{/if}}
