<nav class="menu">
  <ul class="menu__ul">
    <li class="menu__li"><h2 class="brand">RecreoSpot</h2></li>
    <div class="menu__profile">
      <li class="menu__li">{{username}}</li>
      <li class="menu__li">
        <div class="menu__dropdown">
          <div class="icon-profile"></div>
          <div class="menu__dropdown-content" id="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      </li>
    </div>
  </ul>
</nav>